{% extends 'base.html' %}


{% block title %}
Ideas
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ideas.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/ideas.js') }}"></script>
<script src="{{ url_for('static', filename='js/lazyload.js') }}"></script>
{% endblock %}


{% block content %}

<!-- Begin card search form -->
<div class="container">

  <form action="/idea_search" method="GET">

  <div class="form-row">

    <!-- Search input -->
    <div class="col-9">
      <label for="inputName" class="sr-only">Search Text</label>
      <input id="inputName" class="form-control" type="text" name="search_text"
        value="{{ search_text }}" placeholder="..." required autofocus>
    </div>

    <!-- Search button -->
    <div class="col-3">
      <button class="btn btn-block btn-outline-primary" type="submit">Search</button>
    </div>

  </form>

  </div>

</div>
<hr>
<!-- End card search form -->


<!-- Begin card list -->
<div class="container">

  <table id="table" class="table table-striped" style="width:100%">

      <tr>
        <th>Art</th>
        <th>Name</th>
        <th class="d-none d-md-table-cell">Type</th>
      </tr>

      {% for idea in ideas %}
      <tr>
        <td><a href='/idea/{{ idea._id }}'><img class="img-thumbnail lazyload" width=175 data-src='{{ idea.art_crop }}'></a></td>
        <td><a href='/idea/{{ idea._id }}'>{{ idea.name }}</a></td>
        <td class="d-none d-md-table-cell">{{ idea.type_line }}</td>
      </tr>
      {% endfor %}

  </table>

</div>
<!-- End card list -->

{% endblock %}
