{% extends 'base.html' %}


{% block title %}
{{ idea.name }}
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/idea.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/idea.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container">

  <center>

  <!-- card heading -->
  <h1><strong>{{ idea.name }}</strong></h1>
  {{ idea.type_line }}
  <hr>

  <small><i>{{ idea.flavor_text }}</i></small>

  <br><br>

  <div class="container">

    <img class='img-thumbnail rounded' src='{{ idea.art_crop }}'>

    <br><small><strong>Artist:</strong> <i>{{ idea.artist }}</i></small>

    </center>

    {% if idea.notes %}
    <div class="container">
      <h4>Notes</h4>
      <p class='whitespace textbox'>{{ idea.notes|safe }}</p>
    </div>
    {% endif %}

    <center>
    <br>
    <button type="button" data-toggle="modal" data-target="#update_idea" class="btn btn-info">Update</button>
    </center>


  </div>

</div>


<!-- Idea creation modal -->
<div class="modal fade" id="update_idea" tabindex="-1" role="dialog"
  aria-labelledby="update_idea" aria-hidden="true">

  <form action='/update' method='POST'>

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title">Update Idea</h2>
      </div>

      <div class="modal-body">

          <div class="form-group">
            <label for="inputName"><strong>Name</strong></label>
            <input name="name" type="text" class="form-control" id="inputName" placeholder="Name" value="{{ idea.name }}">
          </div>

          <div class="form-group">
            <label for="inputType"><strong>Type</strong></label>
            <input name="type_line" type="text" class="form-control" id="inputType" placeholder="Type" value="{{ idea.type_line }}">
          </div>

          <div class="form-group">
            <label for="inputFlavor"><strong>Flavor</strong></label>
            <textarea name="flavor_text" class="form-control" id="inputFlavor" rows="3">{{ idea.flavor_text }}</textarea>
          </div>

          <div class="form-group">
            <label for="inputNotes"><strong>Notes</strong></label>
            <textarea name="notes" class="form-control" id="inputNotes" rows="3">{{ idea.notes }}</textarea>
          </div>

          <input type="hidden" id="inputId" name="id" value="{{ idea._id }}">

      </div>

      <!-- Begin model footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
        <button type="button" data-toggle="modal" data-target="#delete_idea" class="btn btn-danger">Delete</button>
        <button class="btn btn-info" type="submit">Update</button>
      </div>
      <!-- End model footer -->

    </div>
  </div>
  </form>
</div>

<div class="modal fade" id="delete_idea" tabindex="-1" role="dialog"
  aria-labelledby="delete_idea" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title">Are you sure</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <!-- Begin model footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="/delete?id={{ idea._id }}">Delete</a>
        </div>
        <!-- End model footer -->

    </div>
  </div>
</div>

{% endblock %}
