{% extends 'base.html' %}


{% block title %}
Ideas
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ideas.css') }}">
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/ideas.js') }}"></script>
<script src="{{ url_for('static', filename='js/lazyload.js') }}"></script>
{% endblock %}


{% block content %}

<!-- Begin card search form -->
<form action="/ideas" method="GET">
  <div class="container">

    <div class="form-row">

      <!-- Search input -->
      <div class="col-9">
        <label for="inputName" class="sr-only">Search Text</label>
        <input id="inputName" class="form-control" type="text" name="search_text"
          value="{{ search_text }}" placeholder="..." required autofocus>
      </div>

      <!-- Search button -->
      <div class="col-3">
        <button class="btn btn-block btn-outline-primary" type="submit">Search</button>
      </div>

    </div>

</div>
</form>
<hr>


<!-- Begin card list -->
<div class="container">

  <div class="row">


      {% for idea in ideas %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <center>
        <a href='/ideas/{{ idea._id }}'><img class="lazyload rounded art_crop" width=250 data-src='{{ idea.art_crop }}'></a>
        <br><small><strong>{{ idea.name }}</strong></small><br>
        {% set type_tokens = idea.type_line.split() %}
        {% for type_token in type_tokens %}
          <small><a href="/ideas?search_text={{ type_token }}">{{ type_token }}</a></small>
        {% endfor %}
        <hr>
        </center>
      </div>
      {% endfor %}

  </div>

</div>
<!-- End card list -->

{% endblock %}
